#root {
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

@keyframes append-animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* animate explanaiton and navigation buttons */
.answerRevealArea {
  animation: append-animate 0.5s ease;
}
